@model StoreMVC.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "input-group" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary()

	<div>
		<div>
			@Html.LabelFor(m => m.OldPassword)
			@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
		</div>
		<br /><br />
		<div>
			@Html.LabelFor(m => m.NewPassword)
			@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
		</div>
		<br /><br />
		<div>
			@Html.LabelFor(m => m.ConfirmPassword)
			@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
		</div>
		<br /><br />
		<input type="submit" value="Change password" />
	</div>
}
