@model StoreMVC.Models.LocalPasswordModel

<a href="#demo" data-toggle="collapse" class="btn btn-default">
	<h4>Change password</h4>
</a>

<div id="demo" class="collapse">
	@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "input-group" }))
	{
		@Html.AntiForgeryToken()
		@Html.ValidationSummary()

		<div class="row">
			<div class="form-group">
				@Html.LabelFor(m => m.OldPassword, htmlAttributes: new { @class = "control-label col-md-3" })
				<div class="col-md-9">
					@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
				</div>
			</div>
			<br /><br />
			<div class="form-group">
				@Html.LabelFor(m => m.NewPassword, htmlAttributes: new { @class = "control-label col-md-3" })
				<div class="col-md-9">
					@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
				</div>
			</div>
			<br /><br />
			<div class="form-group">
				@Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-3" })
				<div class="col-md-9">
					@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
				</div>
			</div>
		</div>
		<br />
		<input type="submit" value="Save" class="btn btn-lg btn-primary" />
	}
</div>