@model StoreMVC.Models.LocalPasswordModel
@{
	ViewBag.Title = "Manage Account";
}

<hgroup class="title">
	<h2>@ViewBag.Title.</h2>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>


<div class="form-group">
	<p>Nickname: <b>@User.Identity.Name</b></p>
	<p>First name: <b>@ViewBag.UserFirstName</b></p>
	<p>Last name: <b>@ViewBag.UserLastName</b>	</p>
	<p>Patronymic: <b>@ViewBag.UserPatronymic</b></p>
	<p>Email: <b>@ViewBag.Email</b></p>
</div>
@Html.ActionLink("Edit account data", "Edit", "UserProfiles", null, new { @class = "", @style = "font-size: 150%" })
<br />


@*@Html.Action("ProductsSearch", new { categoryNameToSearch = ViewBag.categoryNameToSearch, productNameToSearch = ViewBag.productNameToSearch })*@

@Html.Partial("_ChangePasswordPartial")


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
