@model StoreMVC.Models.LocalPasswordModel
@{
	ViewBag.Title = "Manage Account";
}

<hgroup class="title">
	<h2>@ViewBag.Title.</h2>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<div class="form-group">
	<p>Nickname: <b>@User.Identity.Name</b></p>
	<p>First name: <b>@ViewBag.UserFirstName</b></p>
	<p>Last name: <b>@ViewBag.UserLastName</b>	</p>
	<p>Patronymic: <b>@ViewBag.UserPatronymic</b></p>

</div>



@Html.Partial("_ChangePasswordPartial")


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
