@model StoreMVC.Models.LocalPasswordModel

@*<a href="#ChangePasswordForm" data-toggle="collapse" class="btn btn-default">*@
<h3>Change password</h3>
@*</a>*@
@*<div id="ChangePasswordForm" class="collapse">*@
@using (Html.BeginForm("PasswordChange", "Account", FormMethod.Post, new { @class = "" }))
{
	@Html.AntiForgeryToken()
	@*@Html.ValidationSummary(null, new { @class = "text-danger" })*@
	<h3 class="text-success">@ViewBag.StatusMessage</h3>

	<div class="form-horizontal">
		<div class="form-group">
			@Html.LabelFor(m => m.OldPassword, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-8">
				@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-8">
				@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-8">
				@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-lg btn-primary" />
			</div>
		</div>
	</div>
}
@*</div>*@
