@model StoreMVC.Models.LocalPasswordModel

@*<a href="#ChangePasswordForm" data-toggle="collapse" class="btn btn-default">*@
<h3>Change password</h3>
@*</a>*@

@*<div id="ChangePasswordForm" class="collapse">*@
@using (Html.BeginForm("PasswordChange", "Account", FormMethod.Post, new { @class = "input-group" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(null, new { @class = "text-danger" })
	<p class="message-success">@ViewBag.StatusMessage</p>

	<div class="row">
		<div class="form-group">
			@Html.LabelFor(m => m.OldPassword, htmlAttributes: new { @class = "control-label col-md-3" })
			<div class="col-md-9">
				@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
			</div>
		</div>
		<br /><br />
		<div class="form-group">
			@Html.LabelFor(m => m.NewPassword, htmlAttributes: new { @class = "control-label col-md-3" })
			<div class="col-md-9">
				@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
			</div>
		</div>
		<br /><br />
		<div class="form-group">
			@Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-3" })
			<div class="col-md-9">
				@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
			</div>
		</div>
	</div>
	<br />
	<input type="submit" value="Save" class="btn btn-lg btn-primary" />
}
@*</div>*@