@model IEnumerable<StoreMVC.Models.Product>
@*@<table class="table">
	<tbody id="tabledata">*@
@foreach (var item in Model)
{
	<br />
	<hr />
	<div class="row" onclick="document.location = '@Url.Action("Details", new { id = item.ProductId })';" role="button">
		<div class="col-md-3">
			<a href="@Url.Action("Details", new { id = item.ProductId })">
				<img src="@Html.DisplayFor(modelItem => item.imgName)" class="img-responsive img-rounded center-block" style="height: 160px;" />
			</a>
		</div>
		<div class="col-md-9">
			<b>@Html.ActionLink(item.Name, "Details", new { id = item.ProductId })</b>
			<div>
				@Html.DisplayFor(modelItem => item.Description)
			</div>
			<br />
			@*<div>
					<i>Categorie: @Html.DisplayTextFor(modelItem => item.Category)</i>
				</div>*@
			<div>
				<b>@Html.DisplayNameFor(model => model.Price): @Html.DisplayFor(model => item.Price) p.</b>
			</div>
			<div>
				<b>@Html.DisplayNameFor(model => model.Count): @Html.DisplayFor(model => item.Count)</b>
			</div>

			<br />
			<div>
				@*@Html.Partial("_AddToBagButtonPartial", item.ProductId)
		@Html.Partial("_PurchaseCountButtonPartial", item)*@
				@Html.Partial("_AddToBagButtonPartial", item.ProductId)

				<br />
				@if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
				{
					@Html.Partial("_EditButtonPartial", item.ProductId);
					@Html.Partial("_DeleteButtonPartial", item.ProductId);
				}
			</div>
		</div>
	</div>
}
@*</tbody>
	</table>*@