@model Dictionary<string, string>

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<br />
		<h2 class="text-center">Chose product category you want to search in</h2>
	<br /><br />
	@{
		@*foreach (var item in Model)
			{
				<button type="submit" value="@item.Key" class="btn btn-default">
					<span class="catalog-category-item">@item.Value</span>
				</button>
			}*@
		@*<br /><br />*@
		@: <div class="row">
			var i = 0;
			foreach (var item in Model)
			{

				if (i > 0 && i % 3 == 0)
				{
				@:</div>
				<br />
				@:<div class="row">
				}
				<div class="col-md-4">
					<a href=@Url.Action("Index", "Products", new { categoryNameToSearch = @item.Key })>
						<img src="@ViewBag.imagesDirectoryPath@ViewBag.folderName@item.Key@ViewBag.imageExtention"
							 class="img-responsive img-rounded center-block" style="height: 160px;" />

						<h4 class="text-center">
							@item.Value
						</h4>
					</a>
				</div>
				++i;
			}
		@:</div>
	}
</body>
</html>
